.board-container{
  margin: 20px;
  margin-top: 20vh;
}

.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.square{
  border: 1px solid black;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}